/.idea/
/.gradle/
/Coffee Machine/
Problems/Area printer/out
Problems/A capital letter or a digit/out
Problems/Arithmetic expression/out
Problems/Boxes/out
Problems/Boys in the sport class/out
Problems/Check the value/out
Problems/City population/out
Problems/Collatz conjecture/out
Problems/Compare Latin letters/out
Problems/Currency comparision/out
Problems/Cutting the fraction/out
Problems/Digits or not/out
Problems/Fix the program/out
Problems/Four numbers/out
Problems/From 0 to 9/out
Problems/Good rest on vacation/out
Problems/Grades/out
Problems/Harry Potter/out
Problems/Interval/out
Problems/Is between/out
Problems/Maximum element divisible by 4/out
Problems/National assembly/out
Problems/Printing each word in a new line/out
Problems/Read and print/out
Problems/Sequence/out
Problems/Size, min and max/out
Problems/Strings as objects/out
Problems/The first digit of a two-digit number/out
Problems/The largest element/out
Problems/The number of tens/out
Problems/The sequence 1 2 2 3 3 3/out
Problems/Triangle/out
Problems/Vowel or not/out
Problems/We need to learn Kotlin/out
